*{
background-color:beige;
  margin:0;
  padding:0;
  box-sizing: border-box;  
  text-align: center;
}



.container{

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.btn{
    border-radius: 30px;
    width:180px;
    height:60px
}
#submit-btn:hover{
background:black;
color:white;


}
label{
  display: block;
  padding-bottom:1rem
}